[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
openpyxl = "*"
xhtml2pdf = "*"
matplotlib = "*"
numpy = "*"
python-dateutil = "*"
djangorestframework = "*"
psycopg2-binary = "*"
gunicorn = "==19.9.0"
django-webpack-loader = "*"
celery = "*"

[requires]
python_version = "3.7"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-pythonpath = "*"
