body{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

h1{color:black; 
    margin-left: 50%;
    margin-right: 50%;}

#upperLayer {
    width: auto;
    height: auto;
    position: fixed;
    margin-top: 20%;
    margin-left: 5%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    border: 1px solid black;
    background: rgb(214, 214, 214);
    }

#lowerLayer {
    width: auto;
    height: auto;
    position: fixed;
    margin-top: 20%;
    margin-left: 5%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    border: 1px solid black;
    background: rgb(214, 214, 214);
    }

    #center{left: 50%;
        margin-right: 50%;
        }