
.header {
  background-color: #ffffff;
  padding: 28px 22px;
  text-align: center;
}

.header .central_link {
  margin-right: 200px;
  margin-left: 200px;
}

.header .header_report_title {
	border-bottom: 2px solid #d2d2fb;
	padding-bottom: 27px;
	border-radius: 1px;
}

.header a {
  color: rgba(142, 142, 245, 0.4);
  font-size: 19px;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
}

.report_form_container .container{
  margin-top: 65px;
  position: relative;
	width: 940px;
	height: 220px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
	border-radius: 8px;
}
.container .form_row {
	padding-left: 30px;
}

.report_form_name  {
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
	margin-top: 30px;
	margin-left: 157px;
	height: 80px;
	-webkit-margin-before: 150px;

}


.report_form_name label{
	margin-left: 20px;
	color: rgba(44, 51, 86, 0.2);
	font-size: 10px;
	font-weight: 500;
}
.report_form_name input{
	margin-left: 19px;
	font-size: 16px;
	letter-spacing: -0.28px;
	font-weight: 500;
	border: 0;
	width: 140px;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}
.report_form_date {
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
	margin-top: 30px;
	margin-left: 22px;
	padding-bottom: 15px;
	margin-right: 140px;
	height: 80px;
	-webkit-margin-before: 150px;

}
.report_form_name hr {
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 10px;
	border: 1px solid rgba(151, 151, 151, 0.1);
	// padding-bottom: 20px;
}
.report_form_date hr {
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 10px;
	border: 1px solid rgba(151, 151, 151, 0.1);
}

.report_form_date label{
	margin-left: 20px;
	color: rgba(44, 51, 86, 0.2);
	font-size: 10px;
	font-weight: 500;

}
.container .form-row {
	height: 0px;
}

.report_form_date input{
	margin-left: 19px;
	width: 95px;
	font-size: 16px;
	letter-spacing: -0.28px;
	font-weight: 500;
	border: 0;
	webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  margin-right: 20px;
}

.report_form_container button {
	width: 300px;
	height: 31px;
	background-color: #d2a6ff;
	opacity: 0.7;
	border-radius: 10px;
	margin-left: 320px;
	margin-top: 142px;
	color: #ffffff;
	font-size: 16px;
font-weight: 500;
	  border: 0;
}

.report_history_container .container{
  width: 940px;
	height: auto;
	margin-top: 45px;
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.report_history{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
	border-radius: 8px;
	margin-left: 90px;
	margin-right: 90px;
	word-wrap: break-word;
	margin-bottom: 25px;
}

.report_history_title{
	padding-left: 90px;
	padding-top: 22px;
	padding-bottom: 24px;
	color: #565e77;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: -0.28px;
}

.report_history_container .container {
	border-radius: 16px;
	width: 940px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	margin-top: 35px;
	padding-bottom: 1px;
}

.report_history{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
	border-radius: 8px;
	margin-left: 90px;
	margin-right: 90px;
	word-wrap: break-word;
	margin-bottom: 25px;
}
.report_history a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.report_history_is_empty {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
	border-radius: 8px;
	margin-left: 90px;
	margin-right: 90px;
	word-wrap: break-word;
	margin-bottom: 25px;
}
.report_history_is_empty p {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #565e77;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: -0.28px;
}

.report_history_main_title{
	padding-left: 90px;
	padding-top: 22px;
	color: #565e77;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: -0.28px;
	padding-bottom: 24px;
}

.form-control {
	border: 0;
}

.report_history_title {
	padding-top: 15px;
	font-weight: 500;
	font-size: 10px;
	color: #4a90e2;
	color: rgba(44, 51, 86, 0.2);
	padding-left: 20px;
}
.report_history_info {
	color: #565c78;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.28px;
	padding-left: 20px;
}
.report_history hr {
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 17px;
	margin-right: 5px;
	border: 1px solid rgba(151, 151, 151, 0.1);
}
