
@import url(../../node_modules/normalize.css/normalize.css);
@import url(../../node_modules/slick-carousel/slick/slick.css);
@import url(../../node_modules/bootstrap/dist/css/bootstrap.min.css);


@font-face { 
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
	background: #f1ebfb; 
	font-family: "Roboto";
}

a:hover {
  text-decoration: none;
}

.prev {
  cursor: pointer;
  margin-right: 14px;
}

.next {
  cursor: pointer;
  margin-left: 14px;
}

@import url(login.scss);
@import url(upload.scss);
@import url(report.scss);
