
@import url(../../node_modules/normalize.css/normalize.css);


@font-face { 
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
	background: #f1ebfb; 
	font-family: "Roboto";
}

@import url(login.scss);
@import url(upload.scss);
@import url(report.scss);
