$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", Futura,sans-serif;

@font-face { 
  font-family: "Futura";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Futura.ttf);
}
 
.header {
  background-color: #ffffff;
  padding: 28px 22px;
  text-align: center;
}

.header .central_link {
  margin-right: 200px;
  margin-left: 200px;
}

.header a {
  font-family: "Futura", sans-serif;
  color: rgba(142, 142, 245, 0.4);
  width: 84px;
  height: 21px;
  font-size: 19px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
}

body {
	background-color: #f1ebfb;
}

.upload{
	padding-top: 65px;
  	margin: auto;
	width: 940px;
	height: 400px;
}

.form_around {
	width: 940px;
	height: 400px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	border-radius: 16px;
	background-color: #ffffff;
}
.form{
	width: 825px;
	height: 310px;
  position: absolute;
  background: #FFFFFF;
  text-align: center;
  border: 2px solid #a4cffc;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-left: 58px;
  margin-right: 57px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.upload_form {
	height: 100%;
}


.upload_form button {
	padding-top: 116px;
	padding-bottom: 45px;
	box-shadow: none;
	border: 0;
	background-color: #FFFFFF;
	cursor:pointer;
}

.upload_form p{
	font-family: "Futura", sans-serif;
	padding-bottom: 48px;
	color: #cdcdcd;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.28px;
}
.container {
	border-radius: 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	margin-top: 35px;
	padding-bottom: 1px;
}

.upload_history{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
	border-radius: 8px;
	margin-left: 90px;
	margin-right: 90px;
	word-wrap: break-word;
	margin-bottom: 25px;
	width: auto !important;
	display: block !important;
}
.upload_history_is_empty {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
	border-radius: 8px;
	margin-left: 90px;
	margin-right: 90px;
	word-wrap: break-word;
	margin-bottom: 25px;
}
.upload_history_is_empty p {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #565e77;
	font-family: "Futura", sans-serif;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: -0.28px;
}

.upload_history_main_title{
	padding-left: 90px;
	padding-top: 22px;
	color: #565e77;
	font-family: "Futura", sans-serif;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: -0.28px;
}

.form-control {
	border: 0;
}

.upload_history_title {
	padding-top: 15px;
	font-weight: 500;
	font-size: 10px;
	color: #4a90e2;
	color: rgba(44, 51, 86, 0.2);
	padding-left: 20px;
}
.upload_history_info {
	color: #565c78;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.28px;
	padding-left: 20px;
}
.upload_history hr {
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 17px;
	margin-right: 5px;
	border: 1px solid rgba(151, 151, 151, 0.1);
}

.upload_pager {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-bottom: 25px;
	font-size: 18px;
	color: #e0c1ff;
}
