
.header {
  background-color: #ffffff;
  padding: 28px 22px;
  text-align: center;
}

.header .header_report_title {
  margin-right: 200px;
  margin-left: 200px;
}

.header .header_upload_title {
	border-bottom: 2px solid #d2d2fb;
	padding-bottom: 27px;
	border-radius: 1px;
}


.header .header_logout_title {
	border-bottom: 2px solid #d2d2fb hidden;
	// border-bottom: 2px solid #d2d2fb hidden;
	padding-bottom: 26px;
	border-radius: 1px;
}

.header a {
  color: rgba(142, 142, 245, 0.4);
  font-size: 19px;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
}


.upload_container .container {
	position: relative;
	width: 940px;
	margin-top: 65px;
	height: 400px;
	background-color: #ffffff;
	border-radius: 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.upload_place_container_stage_1{
	background-image: url(Clip_2.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
	width: 825px;
	height: 310px;
	border: 2px solid #a4cffc;
	border-radius: 16px;
	top: 45px;
	left: 57px;
}

.upload_place_container_stage_1 button {
	visibility: hidden;
}

.upload_place_container_stage_1 .upload_place_container_message_1 p {
	text-align: center;
	color: #cdcdcd;
	letter-spacing: -0.28px;
	font-size: 16px;
	font-weight: 500;
	margin-top: 180px;
}

.upload_place_container_stage_1 .upload_place_container_message_2 p{
	visibility: hidden;
}


.upload_place_container_stage_2{
	background-image: url(Fill_1.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
	width: 825px;
	height: 310px;
	border: 2px solid #a4cffc;
	border-radius: 16px;
	top: 45px;
	left: 57px;

}

.upload_place_container_stage_2 button{
	border-radius: 10px;
	background-color: #d2a6ff;
	opacity: 0.7;
	width: 300px;
	height: 31px;
	color: #ffffff; 
	font-size: 16px;
	font-weight: 700;
	border: 0;
	position: relative;
	margin-top: 235px;
	margin-left: 262px;
	margin-bottom: 10px;
}

.upload_place_container_stage_2 .upload_place_container_message_1 {
	display: none;
}

.upload_place_container_stage_2 .upload_place_container_message_2 p {
	text-align: center;
	color: #cbcbcb;
	font-size: 14px;
	font-weight: 400;
}

.upload_history_container .container {
	border-radius: 16px;
	width: 940px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	margin-top: 35px;
	padding-bottom: 1px;
}

.upload_history{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
	border-radius: 8px;
	margin-left: 90px;
	margin-right: 90px;
	word-wrap: break-word;
	margin-bottom: 25px;
}
.upload_history a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.upload_history_is_empty {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
	border-radius: 8px;
	margin-left: 90px;
	margin-right: 90px;
	word-wrap: break-word;
	margin-bottom: 25px;
}
.upload_history_is_empty p {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #565e77;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: -0.28px;
}

.upload_history_main_title{
	padding-left: 90px;
	padding-top: 22px;
	color: #565e77;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: -0.28px;
	padding-bottom: 24px;
}

.form-control {
	border: 0;
}

.upload_history_title {
	padding-top: 15px;
	font-weight: 500;
	font-size: 10px;
	color: #4a90e2;
	color: rgba(44, 51, 86, 0.2);
	padding-left: 20px;
}
.upload_history_info {
	color: #565c78;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.28px;
	padding-left: 20px;
}
.upload_history hr {
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 17px;
	margin-right: 5px;
	border: 1px solid rgba(151, 151, 151, 0.1);
}

.upload_pager {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-bottom: 25px;
	font-size: 18px;
	color: #e0c1ff;
}

#fileupload.dz-drag-hover  {
	background-image: url(Clip_2.png);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: row
}

#fileupload.dz-drag-hover button  {
	display: none;
}

#fileupload.dz-drag-hover .upload_place_container_message_2 p {
	display: none;
}

#fileupload.dz-drag-hover .upload_place_container_message_1 {
	display: block;
	color: #cbcbcb;
}

.upload-success {
	background-image: url(ok.png);
	display: flex;
	flex-direction: column
}

.upload_place_container_stage_2 .upload-message__stage_fail {
	display: none;
}

.upload_place_container_stage_2 .upload-message__stage_success {
	display: none;
}

.upload-fail .upload-message__stage_init {
	display: none;
}

.upload-fail .upload-message__stage_success {
	display: none;
}

.upload-fail .upload-message__stage_fail {
	display: block;
}

.upload-success .upload-message__stage_init {
	display: none;
}

.upload-success .upload-message__stage_success {
	display: block;
}

.upload-success .upload-message__stage_fail {
	display: none;
}

.upload-waiting {
	background-image: url(waiting.png);
	justify-content: center;
	align-items: flex-end;
	display: flex;
}