{% extends 'base.html' %}
{% load filename %}
{% block content %}
	<form method="POST" class="report_form">
	{% csrf_token %}
		<div class="report_form_name">
			<div class="report_form_name_title">
				<span>Report name</span>
			</div>
			<div class="report_form_name_input">
				{{form.report_name}}
				<hr>
			</div>
		</div>
		<div class="report_form_date">
			<div class="report_form_date_title">
				<span>Report date</span>
			</div>
			<div class="report_form_date_input">
				{{form.report_date_start}}
				<span>-</span>
				{{form.report_date_end}}
				<hr>
			</div>
		</div>
		<button>Send report</button>
	</form>
<div class="report_history">
    <div class="report_history_title">Report History</div>
		{% for report in reports %}
				  		<div class="report_history_record">
  					<a href="#"><div class="report_history_record_titles">				
  					<span class="report_history_record_left_title">Your name</span>
						<span class="report_history_record_right_title">Report name</span>
						</div>
						<div class="report_history_record_info">
						<span class="report_history_record_info_left_title">{{report.reporter}}</span>
						<span class="report_history_record_info_right_title">{{report|filename}}</span>
						</div>
						<div class="report_history_record_underlines">
						<hr class="report_history_record_underlines_left_line">
						</div>
  					<div class="report_history_record_date_titles">				
  					<span class="report_history_record_date_left_title">Report date</span>
						<span class="report_history_record_date_right_title">Create date</span>
						</div>
						<div class="report_history_record_date_info">
						<span class="report_history_record_info_date_left_title">{{report.report_date_start}} - {{report.report_date_end}}</span>
						<span class="report_history_record_info_date_right_title">{{report.generate_date}}</span>
						</div>
						<div class="report_history_record_underlines">
						<hr class="report_history_record_underlines_left_line">
						</div>
					</a>						
  				</div>
		{% endfor %}
  </div>
</form>
{% endblock %}