{% extends 'base.html' %}
{% load filename %}
{% block title %}Report{% endblock %}
{% block content %}
  	<form method="POST" class="report_form">
	{% csrf_token %}
  <div class="container">
    <div class="report-form">
    <div class="lds-css ng-scope"><div class="lds-spinner" style="width:100%;height:100%"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
        <div class="row report-body">
            <div class="report-group">
                <label class="report-label" for="{{form.report_name.name}}">Report name</label>
                {{form.report_name}}
            </div>
            <div class="report-group">
                <label class="report-label">Report date</label>
                <div class="report-between" >
                    {{form.report_date_start}}
                    -
                    {{form.report_date_end}}
                </div>
            </div>
            <div class="col-md-12 report-footer">
                <button class="button button-primary">Send report</button>
            </div>
        </div>
    </div>
</div>
</form>
  
<div class="report_history_container">    
      <div class="container">
  	   <p class="report_history_main_title">Report history</p>
		<div class="report_slider">
		{% for report in reports %}
					<a href="{{report.file.url}}"><div class="report_history">
          <div class="row">
            <div class="col-md-8">
            <span class="report_history_title">Your name</span>
          </div>
          <div class="col-md-4">
            <span class="report_history_title">Report name</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <span class="report_history_info">{{report.reporter}}</span>
            <hr>
          </div>
        <div class="col-md-4">
          <span class="report_history_info">{{report|filename|truncatechars:24}}</span>
        <hr>
        </div>
    </div>
          <div class="row">
            <div class="col-md-8">
            <span class="report_history_title">Report date</span>
          </div>
          <div class="col-md-4">
            <span class="report_history_title">Create date</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <span class="report_history_info">{{report.report_date_start|date:'Y.m.d'}}</span><span class="report_history_info">-</span><span class="report_history_info">{{report.report_date_end|date:'Y.m.d'}}</span>
            <hr>
          </div>
        <div class="col-md-4">
          <span class="report_history_info">{{report.generate_date|date:'Y.m.d'}}</span>
        <hr>
        </div>
    </div>    
  </div>
</a>
{% empty %}
<div class="report_history_is_empty is_empty">
	<p>Is Empty</p>
</div>
		{% endfor %}
</div>
{% if reports %}
<div class="pager upload_pager">
  <div class="prev"><i class="fas fa-angle-left"></i></div>
  <div class="pagenum">1</div>
  <div class="next"><i class="fas fa-angle-right"></i></div>
</div>
{% endif %}
</div>
</div>
</div>		
	</div>
{% endblock %}