{% extends 'base.html' %}
{% load filename %}
{% block content %}
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Файл был загружен успешно
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
	<div class="upload">
    <div class="upload_container">
      <div class="container">
        <div class="upload_place_container">
<form action="" id="fileupload">
  {% csrf_token %}
</form>
  </div>
  </div>
          </div>
      </div>
<div class="upload_history_container">
<div class="container">
<p class="upload_history_main_title">Upload history</p>
<div class="upload_slider">
		{% for upload in uploads %}
<div>
<a href="{{upload.file.url}}">
<div class="upload_history">
  <div class="row">
    <div class="col-md-5">
      <span class="upload_history_title">Your name</span>
    </div>
    <div class="col-md-4">
      <span class="upload_history_title">File name</span>
    </div>
    <div class="col-md-3">
      <span class="upload_history_title">Create date</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <span class="upload_history_info">{{upload.uploader}}</span>
      <hr>
    </div>
    <div class="col-md-4">
      <span class="upload_history_info">{{upload|filename|truncatechars:24}}</span>
      <hr>
    </div>
    <div class="col-md-3">
      <span class="upload_history_info">
      {% if upload.upload_date %}
        {{upload.upload_date|date:'Y.m.d'}}
      {% else %}
        File uploads...
      {% endif %}
      </span>
      <hr>
    </div>
  </div>
</div>
</a>
</div>
{% empty %}
<div class="is_empty upload_history_is_empty">
	<p>Is Empty</p>
</div>
{% endfor %}
</div>
{% if uploads %}
<div class="pager upload_pager">
  <div class="prev"><i class="fas fa-angle-left"></i></div>
  <div class="pagenum">1</div>
  <div class="next"><i class="fas fa-angle-right"></i></div>
</div>
{% endif %}
</div>
</div>
{% endblock %}