{% extends 'base.html' %}
{% block title %}Upload{% endblock %}
{% load filename %}
{% block content %}
	<div class="upload">
    <div class="upload_container">
      <div class="container">
          <form action="" id="fileupload" class="upload_place_container_stage_2" class="upload_place_container_stage_1">
            {% csrf_token %}
            <button><span>Send file</span></button>
            <div class="upload_place_container_message_1"><p>Please, transfer the working file</p></div>
            <div class="upload_place_container_message_2 upload-message__stage_init"><p>Please send a Myfile.xlsx file to complete the operation</p></div>
            <div class="upload_place_container_message_2 upload-message__stage_fail"><p>Oops... file have wrong type and couldn't be loaded</p></div>
            <div class="upload_place_container_message_2 upload-message__stage_success"><p>The file was successfully verified and it will be loaded soon</p></div>
          </div>
  </div>
  </div>
  </div>
<div class="upload_history_container">
<div class="container">
<p class="upload_history_main_title">Upload history</p>
<div class="upload_slider">
		{% for upload in uploads %}
<div>
<a href="{{upload.file.url}}">
<div class="upload_history">
  <div class="row">
    <div class="col-md-5">
      <span class="upload_history_title">Your name</span>
    </div>
    <div class="col-md-4">
      <span class="upload_history_title">File name</span>
    </div>
    <div class="col-md-3">
      <span class="upload_history_title">Create date</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <span class="upload_history_info">{{upload.uploader}}</span>
      <hr>
    </div>
    <div class="col-md-4">
      <span class="upload_history_info">{{upload|filename|truncatechars:24}}</span>
      <hr>
    </div>
    <div class="col-md-3">
      <span class="upload_history_info">
      {% if upload.upload_date %}
        {{upload.upload_date|date:'Y.m.d'}}
      {% else %}
        File uploads...
      {% endif %}
      </span>
      <hr>
    </div>
  </div>
</div>
</a>
</div>
{% empty %}
<div class="is_empty upload_history_is_empty">
	<p>Is Empty</p>
</div>
{% endfor %}
</div>
{% if uploads %}
<div class="pager upload_pager">
  <div class="prev"><i class="fas fa-angle-left"></i></div>
  <div class="pagenum">1</div>
  <div class="next"><i class="fas fa-angle-right"></i></div>
</div>
{% endif %}
</div>
</div>
{% endblock %}